manifest {
    author                  = 'Alexander Payne'
    name                    = 'ww_nf_minimal'
    description             = 'Minimal wastewater QC and analysis workflow'
    homePage                = 'https://github.com/alexomics/ww_nf_minimal'
    nextflowVersion         = '>=19.08'
}

params {
    fasta                   = "$baseDir/static/NC_045512.2.fa"
    fqpattern               = "*R{1,2}*.fastq.gz"
    primerfile              = "$baseDir/static/primers_bedpe_V3.bed"
    amplicon_primerfile_v3  = "$baseDir/static/NimagenV3_nCoV-2019.scheme.NC_045512.2.bed"
    amplicon_primerfile_v4  = "$baseDir/static/NimagenV4.02_nCoV-2019.scheme.NC_045512.2.bed"
    variant_table           = "$baseDir/static/vartab.csv"
    snp_list                = "$baseDir/static/SNPlist"
    annovar_covdb           = "$baseDir/static/covdb/"
    who_map                 = "$baseDir/static/map.csv"
    sublineage_map          = "$baseDir/static/sub-lineages.csv"

    modules {
        "fastp" {
            args            = "--length_required 100"
        }
        "ivar" {
            args            = "-m 35"
        }
        "agg_outputs" {
            args            = "--coverage-threshold 20 -vvv"
        }
    }
}

profiles {
    standard {
        process.executor    = "local"
    }

    test {
        // 5 samples
        params.sample_sheet = "$baseDir/test/sample_sheet_small.csv"
        params.readsdir     = "$baseDir/test/test_input"
        params.outdir       = "test_results"
    }

    test_scaled {
        params.sample_sheet = "$baseDir/test/sample_sheet_scaled.csv"
        params.readsdir     = "$baseDir/test/test_input"
        params.outdir       = "test_results"
    }
}
